<h1>Voici le profil de <%= @gossip.user.first_name %> <%= @gossip.user.last_name %></h1><br/>

<div class="card-header">
<h4>Description :</h4>
<p> <%= @gossip.user.description %> </p>
<p> Voici son email : <%= @gossip.user.email %> </p>
<p> son âge: <%= @gossip.user.age %>  Waaaaaw on dirait moins</p>
<p> sa ville: <%= @gossip.user.city.name %> </p>
</div>