
  <head>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
<!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <title>The_Gossip_Project</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <div class="d-flex flex-column p-3 px-md-4 mb-3 bg-info border-bottom shadow-sm">
      <h5 class="my-0 font-weight-normal text-white">The_Gossip_Project</h5>
        <nav class="navbar-toggler d-flex justify-content-between">
        <div class="pt-2">
        <a class="p-2 text-white" <%= link_to "Page d'accueil", gossips_path %></a>
        <a class="p-2 text-white" <%= link_to "Ecris ton gossip", new_gossip_path %></a>
        <a class="p-2 text-white" href="/team">Page team</a>
        <a class="p-2 text-white" href="/contact">Page contact</a>
        </div>
        <div>
        <% if session[:user_id] == nil %>
        <a class="p-2 text-dark btn btn-light" <%= link_to "Sign in", new_user_path %></a>
        <a class="p-2 text-dark btn btn-light" <%= link_to "Log in", new_session_path %></a>
        <% else %>
        <a class="p-2 text-white btn btn-danger" <%= link_to "Sign out", session_path(session.id), method: :delete %></a>
        <% end %>
        </div>
        </nav>
    </div>
  </head>

  <body>
    <% if flash[:success] %>
      <div class="alert alert-success" role="alert">
        <%= flash[:success] %>
      </div>
    <%end%>
    <%= yield %>
  </body>
</html>
